In [5]:
import pandas as pd
import numpy as np

In [29]:
df=pd.read_csv('sample.csv')

In [31]:
df.tail()

                                 user_id  is_5g
299995  52db0a9a811432f3b54eaa8aec6ae421    0.0
299996  63d174153429a4885e69ab190148d525    0.0
299997  ba6a340c69a641086aecfb015282113d    0.0
299998  dac894be5f6b6a1a9d8764bf2d71bec6    0.0
299999  8f5de9d3cb45320e1a2dea009d77f7b3    0.0

In [32]:
df1=pd.get_dummies(df['is_5g'])

In [33]:
df=pd.concat([df1,df],axis=1)

In [34]:
df.tail()

        0.0                           user_id  is_5g
299995    1  52db0a9a811432f3b54eaa8aec6ae421    0.0
299996    1  63d174153429a4885e69ab190148d525    0.0
299997    1  ba6a340c69a641086aecfb015282113d    0.0
299998    1  dac894be5f6b6a1a9d8764bf2d71bec6    0.0
299999    1  8f5de9d3cb45320e1a2dea009d77f7b3    0.0

In [35]:
df.drop('is_5g',axis=1,inplace=True)

In [36]:
df.head()

   0.0                           user_id
0    1  32cd3ea929129a5af90579eb444958fa
1    1  e25355ae12b4ebab4427eef6719a5ade
2    1  8a3aca94fcc94eb833b8a0be20ca9b0f
3    1  2f14bfc318552928e6ae2b6f2c54985f
4    1  5ca81abebce497ab2063a87658e48798

In [51]:
x=df.iloc[:,:-1]

In [52]:
y=df.iloc[:,:-1]

In [53]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [54]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()
regression.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [55]:
y_pred=regression.predict(x_test)

In [57]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [58]:
score

1.0